.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);

  }

.box-1 {
    grid-column: 1 / 7;
}

.box-2 {
    grid-column-start: 1;
}

.box-3 {
    grid-column-start: 2;
}

.box-4 {
    grid-column-start: 3; 
}

.box-5 {
    grid-column-start: 4;
}

.box-6 {
    grid-column-start: 5;
}

.box-7 {
    grid-column-start: 6;
}

.box-8 {
    grid-column: 1 / 4;
}

.box-9 {
    grid-column: 4 / 7;
}

.box-10 {
    grid-column: 1 / 7;
}

.box-11 {
    grid-column: 1 / 7;
}

.hidden-buttons {
    visibility: hidden;
}
